@import url("../fonts/global_pager.css");

body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font: 12px "Arial Narrow",HELVETICA;
    line-height: 24px;
}

a {
    color: #333333;
    text-decoration: none;
}

    a:hover {
        color: #09F;
    }

em {
    font-style: normal;
}

ul, li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    word-wrap: break-word;
}

.dis {
    display: block;
}

.undis {
    display: none;
}

.ytArea:after, .box-are:after {
    content: "";
    display: table;
    clear: both;
}

.ytArea {
    *zoom: 1;
    padding-bottom: 20px;
    margin: 0 auto;
    font: 14px/24px "Microsoft YaHei";
}

    .fl, .ytArea .fl {
        float: left;
        display: inline;
    }

    .fr, .ytArea .fr {
        float: right;
        display: inline;
    }

.hr10, .hr20 {
    clear: both;
    margin: 0;
    padding: 0;
    font-size: 0;
    overflow: hidden;
}

.hr20 {
    height: 20px;
}

.hr10 {
    height: 10px;
}

.hr15 {
    height: 15px;
}

.padl10 {
    padding-left: 10px;
}

.clear {
    clear: both;
    height: 0px;
    margin: 0;
    padding: 0;
    font-size: 0;
    overflow: hidden;
}

.ytArea, .banner, .minTopin, .headerIn, .mtcon {
    width: 1280px;
    margin: 0px auto;
    position: relative;
}

.lp_ytArea {
    width: 1180px;
    margin: 0 auto;
    position: relative;
}
/*   导航    */
#minTop {
    height: 36px;
    background: #f9f9f9;
    border-bottom: 1px solid #e6e6e6;
    color: #d4d4d4;
}

.minTopin {
    height: 36px;
    z-index: 999;
}

.logoText {
    float: left;
    line-height: 36px;
    color: #6c6c6c;
}

.menu {
    float: right;
    line-height: 36px;
}

    .menu a {
        color: #6c6c6c;
        padding: 0 5px 0 5px;
        width: 175px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        -moz-binding: url('../fonts/ellipsis.xml#ellipsis');
    }

        .menu a:hover {
            color: #0099ff;
        }

    .menu em {
        font-weight: bold;
        color: #59a91e;
        width: 75px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        -moz-binding: url('../fonts/ellipsis.xml#ellipsis');
    }


/*#vip { margin-left: 5px; position:relative; top: -2px;}*/

/*    头部    */
#head {
    height: 135px;
    margin-top: 1px;
}

.headerIn {
    height: 105px;
    margin: 0 auto;
    z-index: 999;
}

.logo {
    width: 240px;
    height: 92px;
    float: left;
    top: 21px;
    position: absolute;
}

.zhaq {
    width: 253px;
    height: 85px;
    float: left;
    top: 21px;
    position: absolute;
}

.textinput {
    left: 315px;
    width: 520px;
    height: 65px;
    top: 36px;
    position: absolute;
}

    .textinput P {
        color: #858585;
        line-height: 30px;
    }

.lp_input {
    background: url(../images/search_bg.jpg) no-repeat;
    width: 520px;
    height: 41px;
    position: relative;
}

    .lp_input input {
        position: absolute;
        width: 405px;
        height: 35px;
        font: 12px/35px "宋体";
        top: 3px;
        left: 32px;
        border: 0px;
    }

    .lp_input a {
        position: absolute;
        width: 80px;
        height: 41px;
        top: 0px;
        right: 0px;
    }

#dengl {
    background: url("../images/log_sbt.png") no-repeat center;
    border: 0px;
    padding: 0;
    width: 206px;
    height: 36px;
    border: 0;
    text-align: center;
    margin: 0 auto;
}

.newlog_box {
    background: #fff;
    border: 1px solid #C9EB58;
    width: 332px;
    height: 388px;
    margin: 0 auto;
}

.log_box {
    padding: 10px;
    width: 313px;
    margin: 0 auto;
    font: 12px/30px "宋体";
    color: #858585;
}

    .log_box tr {
        height: 60px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .log_box em {
        font: bold 16px/40px "宋体";
        color: #83c325;
    }

    .log_box a {
        font: 14px/40px "宋体";
        color: #ff7d00;
    }

    .log_box span {
        margin-left: 60px;
    }

    .log_box h3 {
        font: 12px/30px "宋体";
        padding: 0 5px;
    }

#newlog_name {
    background: url(../images/new_log_name.png) no-repeat center;
    width: 360px;
    height: 41px;
}

    #newlog_name input {
        width: 262px;
        height: 30px;
        border: 0px;
        margin-left: 40px;
    }

#newlog_pwd {
    background: url(../images/new_log_pwd.png) no-repeat center;
    width: 360px;
    height: 41px;
}

    #newlog_pwd input {
        width: 262px;
        height: 30px;
        border: 0px;
        margin-left: 40px;
    }

.qq_box {
    width: 245px;
    min-height: 60px;
    margin: 0 auto;
    margin-top: 20px;
}

    .qq_box a {
        color: #858585;
        font-size: 12px;
        padding-left: 15px;
    }

        .qq_box a:hover {
            color: #83c325;
        }

#login_index {
    padding: 10px;
}



.topbar-dropdown {
    border-radius: 0 0 3px 3px;
    display: none;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    right: -11px;
    top: 35px;
    width: 355px;
    z-index: 99999;
}
/*form {    margin-bottom: 18px;}*/
fieldset {
    margin-bottom: 18px;
    padding-top: 18px;
}

    fieldset legend {
        color: #404040;
        display: block;
        font-size: 19.5px;
        line-height: 1;
        padding-left: 150px;
    }
/*form .clearfix {    margin-bottom: 18px;}*/
form .clearfix:before, form .clearfix:after {
    content: "";
    display: table;
}

form .clearfix:after {
    clear: both;
}

.topbar-dropdown form label {
    color: #646464;
    margin-bottom: 5px;
    text-align: left;
}

label {
    color: #404040;
    float: left;
    font-size: 13px;
    line-height: 18px;
    padding-top: 10px;
    text-align: right;
    width: 145px;
}

label, input, select, textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
}

    .input-large, input.large, textarea.large, select.large {
        width: 210px;
        height: 29px;
    }

.navigation {
    height: 41px;
    margin-top: 1px;
    background: #0093DD;
}

.mtcon {
    margin: 5px;
    font-size: 20px;
    position: relative;
    /*text-indent:0.5em;*/
}
.mtcon strong{
    color:red;
}

.lp_his_favbox {
    width: 151px;
    height: 41px;
    right: 0px;
    top: 36px;
    position: absolute;
    background: url(../images/tp_hisbox.jpg) no-repeat;
}

.quick_history {
    position: relative;
    float: left;
    width: 70px;
    height: 85px;
}

.favoritesbox {
    position: relative;
    float: left;
    width: 79px;
    height: 85px;
}

.history_pop {
    position: absolute;
    display: none;
    z-index: 9999;
}
/*******历史记录******/
.historybox {
    position: absolute;
    padding: 10px;
    top: 57px;
    width: 280px;
    left: 0px;
    margin-left: -149px;
    z-index: 999;
    background: #fff;
    border: 2px solid #0093dd;
}

.lp_his {
    width: 280px;
    border-left: 1px solid #666;
}

    .lp_his #img {
        margin-left: -4px;
    }

    .lp_his #img2 {
        margin-left: -3px;
    }

    .lp_his span {
        color: #09C;
        padding-left: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 280px;
    }

    .lp_his a {
        color: #333;
        margin-left: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 280px;
    }

    .lp_his em {
        color: #999;
        float: right;
    }

    .lp_his song {
        padding-left: 5px;
    }

.quick_pop_inner {
    border-top: 2px solid #3399CC;
}

.triangle_up_wrap {
    border-bottom-color: #FF6600;
    margin-left: 52px;
    overflow: visible;
    position: absolute;
    top: 47px;
}

.triangle_up_wrap2 {
    border-bottom-color: #FF6600;
    margin-left: 7px;
    overflow: visible;
    position: absolute;
    top: 47px;
}

.mod_quick_pop .triangle_up_wrap {
    border-bottom-color: #FF6600;
    left: 50%;
    margin-left: -3px;
    overflow: visible;
    position: absolute;
    top: -14px;
}

#ewew1 .triangle_up_wrap2 {
    left: 23px;
}

#ewew2 .triangle_up_wrap {
    left: 55px;
}


.triangle_up {
    background: url(../images/up_point.jpg) no-repeat center;
    width: 10px;
    height: 10px;
}



.triangle_left, .triangle_down, .triangle_right, .triangle_up {
    border: 5px dashed rgba(0, 0, 0, 0);
    display: inline-block;
    font-size: 0;
    height: 0;
    overflow: hidden;
    width: 0;
}

.history_pop h3 {
    color: #0099CC;
    font: 12px/20px "微软雅黑";
}

.history_pop #i {
    color: #B0B0B0;
    font: 12px/20px "微软雅黑";
    padding-left: 15px;
}

/********收藏*******/
.favorites_pop {
    position: absolute;
    display: none;
    border-right: 1px solid #B0B0B0;
    z-index: 9999;
}

.favorbox {
    position: absolute;
    padding: 10px;
    top: 57px;
    width: 280px;
    left: 0px;
    margin-left: -148px;
    z-index: 999;
    background: #fff;
    border: 2px solid #0093dd;
}

.favorites_pop h3 {
    color: #0099CC;
    font: 12px/20px "微软雅黑";
}

.favorites_pop span {
    color: #B0B0B0;
    padding-left: 15px;
}

.favorites_pop a:hover {
    background: #CCC;
    width: 300px;
    padding: 3px 0px 0px 0px;
}

.quick_txt {
    color: #fff;
    display: block;
    height: 41px;
    line-height: 39px;
    padding-left: 28px;
}

.divide {
    background: -moz-linear-gradient(center top, #FCFCFC 0px, #E8E8E8 50%, #FCFCFC 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 26px;
    overflow: hidden;
    position: absolute;
    right: 8px;
    top: 0px;
    width: 1px;
}





/*    头部切换   */
.title, #tiDiv {
    background: #0099FF;
    position: relative;
    margin: 0 auto;
    height: 41px;
}

#tiDiv {
    width: 1180px;
    margin: 0 auto;
    top: 0;
    z-index: 998;
    margin-top: 1px;
}

.icon_new {
    background: url("../images/icon_new02.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 13px;
    position: absolute;
    right: 6px;
    top: 7px;
    width: 28px;
}

#tiDiv li {
    float: left;
    list-style: none;
    text-align: center;
    width: 130px;
    position: relative;
    font-size: 14px;
}

    #tiDiv li #hot {
        text-align: left;
    }

#hot {
    background: #25aaed;
    width: 188px;
}

#tiDiv li .v a {
    width: 130px;
    height: 41px;
    display: block;
    float: left;
    font: 16px/41px "微软雅黑";
    color: #fff;
    text-decoration: none;
}

#tiDiv li#nav_hover .v a {
    background: #007dd1;
}

.all {
    width: 130px;
    height: 41px;
    display: block;
    float: left;
    font: 16px/41px "微软雅黑";
    background: #007dd1;
    text-decoration: none;
}

#tiDiv .c {
    width: 1180px;
}

#tiDiv li .v a:hover, #nav li .v .sele {
    background: #007dd1;
    font: 16px "微软雅黑";
    color: #fff;
    height: 41px;
    line-height: 41px;
    padding-left: 0px;
}

#tiDiv li .v #hot:hover {
    background: #25aaed;
}

#tiDiv .kind_menu {
    vertical-align: middle;
    position: absolute;
    text-align: center;
    left: 0;
    top: 41px;
    width: 130px;
    display: none;
    color: #fff;
    line-height: 30px;
    background: #007dd1;
    z-index: 99999;
}

.kind_menu a {
    color: #fff;
    float: left;
    text-align: center;
    width: 130px;
    font-family: Arial,Verdana,Tahoma,"宋体";
    font-size: 12px;
}

    .kind_menu a:hover {
        color: #FFF;
        text-align: center;
        width: 130px;
        background-color: #ff8800;
        height: 30px;
    }

#tiDiv .kind_menu2 {
    vertical-align: middle;
    position: absolute;
    text-align: center;
    left: 0;
    top: 41px;
    width: 130px;
    display: none;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    background: #83C326;
    z-index: 99999;
}

.kind_menu2 a {
    color: #fff;
    float: left;
    text-align: center;
    width: 130px;
    font-family: Arial,Verdana,Tahoma,"宋体";
    font-size: 12px;
}

    .kind_menu2 a:hover {
        color: #FFF;
        text-align: center;
        width: 130px;
        background-color: #09F;
        height: 30px;
    }

.kind_menu2 span a {
    overflow: hidden;
}

    .kind_menu2 span a:hover {
        overflow: visible;
    }

/*底部*/
#down {
    height: 43px;
    background: #0093dd;
    color: #fff;
}

.downOn {
    height: 43px;
    margin: 0 auto;
    color: #fff;
    border: 0px solid #000;
    width: 980px;
    position: relative;
}

.lpText {
    color: #fff;
    line-height: 43px;
    position: absolute;
    top: 0px;
    left: 0px;
}

    .lpText img {
        display: none;
    }

    .lpText h2 {
        position: absolute;
        color: #fff;
        top: 0px;
        background: url(../images/ft_phoneImg.jpg) no-repeat left 10px;
        font-size: 16px;
        font-weight: normal;
        font-family: microsoft yahei;
        padding-left: 30px;
    }

.wanghui1 {
    position: absolute;
    color: #fff;
    top: 0px;
    background: url(../images/ft_phoneImg.jpg) no-repeat left 10px;
    font-size: 16px;
    font-weight: normal;
    font-family: microsoft yahei;
    padding-left: 30px;
}

.lpmenu {
    float: right;
    line-height: 40px;
}

    .lpmenu a {
        color: #fff;
        padding: 0 5px 0 5px;
    }

    .lpmenu em {
        font-weight: bold;
        color: #FEEE02;
    }

#down2 {
    height: 92px;
    background: #fff;
    color: #858585;
    font: 12px/24px "宋体";
}

.downOn2 {
    height: 92px;
    padding-top: 10px;
    margin: 0 auto;
    color: #858585;
    width: 1180px;
}

.shouye400 {
    width: 200px;
}

.mbx {
    margin: 10px auto 0;
    width: 1180px;
}

/* 在线客服 */
#STATICMENU {
    width: 37px;
    Z-INDEX: 999;
    right: 1px;
    VISIBILITY: visible;
    POSITION: absolute;
    TOP: 100px;
}

.kf_box {
    display: none;
    width: 140px;
    height: 458px;
    margin: 0 auto;
    background: url(../images/kf2.jpg) no-repeat center;
    text-align: center;
}

.kf_text {
    width: 140px;
    min-height: 354px;
    margin: 0 auto;
    padding-top: 40px;
    font: 12px/40px "宋体";
    color: #767575;
}

    .kf_text b {
        font: bold 12px/35px "微软雅黑";
    }

    .kf_text span {
        font: 14px/25px "微软雅黑";
        color: #83c325;
    }

#kf_show {
    cursor: pointer;
    width: 38px;
    height: 103px;
}

#kf_hide {
    width: 20px;
    text-align: center;
    float: right;
    position: relative;
    height: 20px;
    line-height: 20px;
    display: block;
    font-family: Helvetica, STHeiti;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .9);
    font-size: 18px;
    color: #999;
}

/* 新的搜索框 */
.new_ser_box {
    width: 489px;
    height: 35px;
    border: 3px solid #548d01;
}

.new_ser_inputbox {
    width: 401px;
    height: 35px;
    float: left;
    overflow: hidden;
}

em {
    font-style: normal;
}

ul, li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    word-wrap: break-word;
}

.dis {
    display: block;
}

.undis {
    display: none;
}

.ytArea:after, .box-are:after {
    content: "";
    display: table;
    clear: both;
}

.ytArea {
    *zoom: 1;
    padding-bottom: 20px;
    margin: 0 auto;
    font: 14px/24px "Microsoft YaHei";
}

    .fl, .ytArea .fl {
        float: left;
        display: inline;
    }

    .fr, .ytArea .fr {
        float: right;
        display: inline;
    }

.hr10, .hr20 {
    clear: both;
    margin: 0;
    padding: 0;
    font-size: 0;
    overflow: hidden;
}

.hr20 {
    height: 20px;
}

.hr10 {
    height: 10px;
}

.clear {
    clear: both;
    height: 0px;
    margin: 0;
    padding: 0;
    font-size: 0;
    overflow: hidden;
}

.ytArea, .banner, .minTopin, .headerIn, .mtcon {
    width: 1280px;
    margin: 0px auto;
    position: relative;
}

.lp_ytArea {
    width: 1180px;
    margin: 0 auto;
    position: relative;
}


.clear {
    clear: both;
}

.banbox {
    margin: 0 auto;
    background: #ddd;
    height: 30px;
    width: 1180px;
}

.mtcon {
    float: left;
    margin-left: 10px;
}

    .mtcon h1 {
        font: 20px "微软雅黑";
    }

    .mtcon span {
        line-height: 30px;
        text-indent: 20px;
    }

    .mtcon small {
        float: right;
        line-height: 45px;
        font-size: 20px;
        color: #0093DD;
        margin-right: 20px;
    }



.banner table {
    width: 220px;
    float: left;
    font: 14px "微软雅黑";
}

.bos {
    font-size: 14px;
    font-weight: bold;
    text-indent: 0px;
}

.banner tr,.banner  td {
    line-height: 30px;
    height: 30px;
    text-indent: 35px;
}

.talist {
    width: 1180px;
    display: inline-block;
}

    .talist .nb_01, .talist .nb_02, .talist .nb_03 {
    }

    .talist li, .talist .ul_ol {
        width: 100%;
        display: block;
        overflow: hidden;
        background: #fff;
        float: left;
        margin-bottom: 20px;
        position: relative;
    }

    .talist li {
    }

    .talist .ul_ol {
        border-bottom: 1px solid #d8d8d8;
    }

        .talist .ul_ol a {
            width: 113px;
            text-align: center;
            font-size: 18px;
            color: #666666;
            display: inline-block;
            padding: 10px 0;
        }

            .talist .ul_ol a:hover {
                color: #68b057;
            }

            .talist .ul_ol a.now {
                color: #68b057;
                border-bottom: 3px solid #0094de;
            }

    .talist .nb_01 img {
        width: 184px;
        height: 138px;
        overflow: hidden;
    }

    .talist h3 {
        color: #333;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 18px;
        font-weight: normal;
    }

    .talist .nb_02 li span {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 12px;
        color: #999;
        font-weight: normal;
    }

    .talist .nb_02 li div {
        margin-top: 10px;
        font-size: 14px;
        color: #555555;
    }

h3 {
    color: #000;
}

.talist a {
    color: #000;
}

    .talist a:hover {
        color: #0093DD;
    }

/*课程*/
.talist .nb_01 li {
    display: block;
    overflow: hidden;
    background: #fff;
    float: left;
    min-height: 150px;
    padding-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}
/*问答*/
.talist .nb_03 li {
    line-height: 29px;
    font-size: 14px;
    border: none;
    padding: 0;
    position: relative;
    height: 29px;
    padding: 11px 0 9px 0;
}

    .talist .nb_03 li:hover {
        background: #f2f2f2;
    }

        .talist .nb_03 li:hover .c5 {
            display: inline-block;
        }

.talist .nb_03 span {
    float: left;
}

.talist .nb_03 .c3, .talist .nb_03 .c2 {
    float: right;
    color: #999999;
    font-size: 12px;
    margin: 0 7px;
}

.talist .nb_03 .c1 {
    margin-right: 10px;
}

    .talist .nb_03 .c1 img {
        padding: 1px;
        border: 1px solid #d6d6d6;
    }

.talist .nb_03 .c4 {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 400px;
    color: #2d64b3;
    font-weight: normal;
}



/* 搜索列表顶部 */
.m_list {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 12px;
    padding-bottom: 6px;
    border: 1px solid #ddd;
}

    .m_list ol {
        width: 100%;
        padding: 0;
        margin: 0;
        text-decoration: none;
    }

        .m_list ol strong {
            float: left;
            font-size: 18px;
            line-height: 16px;
            font-weight: normal;
        }

        .m_list ol a {
            color: #555555;
            text-decoration: none;
        }

            .m_list ol a:hover {
                color: #09e;
            }

        .m_list ol samp {
            float: left;
            line-height: 16px;
            color: #555555;
            margin-left: 8px;
            margin-bottom: 5px;
            margin-top: 2px;
        }

    .m_list u {
        color: #7cb908;
        text-decoration: none;
        font-weight: bold;
    }

    .m_list ul {
        width: 100%;
        float: left;
        padding: 0;
        margin: 0;
        border-bottom: 1px dotted #e3e3e3;
        padding-bottom: 14px;
    }

    .m_list li {
        width: 50%;
        height: auto;
        padding: 0;
        margin: 0;
        min-height: inherit;
        border: none;
        text-indent: 20px;
        line-height: 26px;
        font-size: 12px;
        border: none;
    }

        .m_list li a {
            color: #666666;
            display: block;
            background: url(../images/li_ioc_2.jpg) no-repeat 0 8px;
            text-decoration: none;
        }

            .m_list li a:hover {
                color: #09e;
                background: url(../images/li_ioc.jpg) no-repeat 0 8px;
            }

    .m_list .r_tc span {
        position: relative;
        float: left;
        margin-top: 6px;
        margin-right: 8px;
    }

    .m_list .r_tc .c1 {
        font-size: 16px;
        color: #999;
    }

    .m_list .r_tc .c2 {
        font-size: 18px;
        color: #ff7700;
        margin-top: 8px;
    }

    .m_list .r_tc .c3 {
        color: #666666;
        margin-top: 10px;
    }

    .m_list .r_tc .c4 {
        float: right;
        margin: 6px 13px 0;
    }

        .m_list .r_tc .c4 a {
            display: inline-block;
            width: 80px;
            padding: 8px 0;
            text-align: center;
            background: #ff8800;
            border-radius: 2px;
            line-height: 12px;
            color: #fff;
        }


.member {
    width:100%;
    padding-top: 20px;
    margin-bottom:20px;
    font-size: 12px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    height: 170px;
    _display: inline;
}

    .member .img {
        position: relative;
        float: left;
        height: 140px;
        overflow: hidden;
        width: 140px;
        margin: 10px 25px 0 28px;
        _display: inline;
    }

        .member .img .png {
            position: absolute;
            top: -1px;
            left: 0;
            height: 142px;
        }

        .member .img img {
            width: 140px;
            height: 139px;
        }

    .member ul {
        float: right;
        width: 930px;
        margin-right: 17px;
        position: relative;
        padding: 0;
    }

    .member ol span {
        font-weight: normal;
    }

    .member ol .c1 a {
        font-size: 24px;
        color: #333;
    }

        .member ol .c1 a:hover {
            color: #09f;
        }

    .member ol .c2 {
        font-size: 12px;
        color: #666;
        margin-left: 15px;
    }

    .member li {
        float: left;
        width: 90px;
        text-align: center;
        border: none;
        font-size: 14px;
        height: 50px;
        margin: 0;
        margin-top: 20px;
        line-height: 26px;
    }

        .member li span {
            text-align: center;
            position: relative;
        }

        .member li.li {
            border-right: 1px dotted #e4e4e4;
        }

    .member .p1 {
        color: #666666;
        line-height: 24px;
        display: block;
        width: 100%;
        float: none;
        font-size: 12px;
        text-align: left;
    }

    .member .p2 {
        position: absolute;
        right: 10px;
        top: 30px;
        width: auto;
        display: block;
        background: #000;
        width: 120px;
        height: 35px;
        background: none;
    }

        .member .p2 a {
            display: inline-block;
            width: 120px;
            height: 35px;
            background: #ff8800;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            line-height: 34px;
            font-size: 16px;
        }
            .member .p2 a:link, .member .p2 a:hover {
            color:#ffffff;}

    .member a:hover {
        color: #09f;
    }


        .highlight {
    color:#ff0000;font-weight:bolder;
        }



.search_box {padding-top:30px;padding-bottom:30px;
}
    .search_box strong {
        color:#ff0000;
    }




/*分页*/

    .pagingbar {
        clear: both;
        margin:0px auto 20px auto;
        text-align:center;
    }

        .pagingbar a, .pagingbar span {
            text-decoration: none;
            color: #333333;
            border-radius: 3px;
        }

        .pagingbar a, .pagingbar span {
            padding: 5px 8px 5px 8px;
            font-size: 14px;
            margin-right: 3px;
            border: solid 1px #bcbcbc;
            line-height: 30px;
            font-size: 12px;
            background: #ffffff;
        }

        .pagingbar .current-page,.pagingbar .current_page {
            background: #0099ff;
            border: solid 1px #547DBE;
            color: #ffffff;
        }





/*新闻列表*/
.newsList2 {
    font-size: 12px;
}

    .newsList2 h3 {
        font-size: 18px;
        height: 21px;
        vertical-align: top;
        clear: both;
        overflow: hidden;
        margin: 0;
        padding: 0 0 10px 0;
    }

        .newsList2 h3, .newsList2 h3 a:link, .newsList2 h3 a:visited {
            color: #111111;
        }

            .newsList2 h3 img {
                position: relative;
                top: -3px;
                left: 8px;
            }

    .newsList2 li {
        padding-left: 25px;
        padding-top: 5px;
        background: url(../images/li.gif) no-repeat 10px 15px;
        margin-bottom: 10px;
        border-bottom: #cccccc dotted 1px;
    }

    .newsList2 p {
        padding: 5px 0;
        color: #666;
    }

        .newsList2 p span, .newsList2 p span a:link, .newsList2 p span a:visited {
            color: #0088db;
        }

    .newsList2 .msg {
        padding-bottom: 10px;
        color: #999;
        font-family: Arial;
    }

        .newsList2 .msg span {
            color: #0088db;
        }


.News_tag {
    clear: both;
    margin: 10px 0;
    padding-left: 15px;
    font-size: 14px;
    color: red;
}

    .News_tag .News_share {
        float: right;
        width: 150px;
        overflow: hidden;
    }

.News_meta a {
    display: inline-block;
    border: #ececec solid 1px;
    background: #fafafa;
    margin-right: 5px;
    padding: 0px 5px;
    font-size: 12px;
    border-radius: 2px;
}

.News_meta p span, .News_tag p span a:link, .News_tag p span a:visited {
    color: #3d74aa;
}

.nothing:after{content:".";display:block;height:0;clear:both;visibility:hidden} 

.nothing {
    padding-top:80px;
}
    .nothing img {
        float:left;
        margin-left:36px;
    }
    .nothing dl {
        width:950px;
        float:left;
        font-size:22px;
        line-height:45px;
        margin-left:44px;
    }
        .nothing dl dt {
            font-size:26px;
            margin-bottom:10px;
        }
        .nothing dl span {
            color: #ff6600;
        }
        .nothing dl dd a {
            color: #ff6600;
            border-bottom:1px solid #ff6600;
        }

    .nothing ul {
        border:1px solid #dddddd;
        height:40px;
        line-height:40px;
        background:#f7f7f7;
    }
    .nothing li {
        text-align:center;
        width:110px;
        background:#f7f7f7;
        margin:0;
    }
        .nothing li.now {
            background:#fff;
            border-right:1px solid #ddd;
            border-left:1px solid #ddd;
            margin-left:-1px;

        }


.todayHot {
	width:1180px;
	overflow:hidden;
	font-family:Arial,\5b8b\4f53;
}
.todayHot ul {
	list-style: none;
	margin:0;
	padding:0; padding-top:10px;
	overflow:hidden;
	width:1190px;
	margin-right:-10px;
	position:relative;
 	*zoom:1;
}

.todayHot li {
	float: left;
	width: 287px;
	border:1px solid #e2e2e2;
	margin:0px 8px 10px 0px;
	background-color:white;
	position:relative;
}
    .todayHot a {
        overflow: hidden;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        display: inline-block;
        text-decoration: none;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space: nowrap;
    }
.todayHot li:hover {
/*background-color:#D51938;*/
	-webkit-box-shadow: 0 1px 8px rgba(0,0,0,.3);
	box-shadow: 0 1px 8px rgba(0,0,0,.3);
}
.todayHot img {
	width:275px;
	height:217px;
	margin:6px 6px 20px 6px;
}
.todayHot a:hover .today_tit {
	/*color:#09f;*/
}

.todayHot .today_tit {
	overflow: hidden;
	display:block;
	height: 20px;
	font-size:14px;
	color:#555;
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	width:275px; margin:auto;
}

.glist .qg_teach {
	font-size:12px;
	display:block;
	margin:5px 0px 15px 6px;
	color:#666;
}
.glist .qg_teach a {
    margin-top:-3px;
    vertical-align:middle;
}
.glist .price {
    bottom: 10px;
    color: #FF7700;
    font-family: microsoft yahei;
    font-size: 14px;
    position: absolute;
    right:10px;
}

.todayHot li .today_btm {
	display:block;
	padding:12px 0px 15px;
	margin-top: 3px;
	border-top:1px dotted #ccc;
	width:229px; margin:auto;
}


.todayHot li .today_btm .qg_btn {
	display:block;
	width:95px; margin:auto;
	height:28px; line-height: 28px;
	text-shadow:1px 1px 0px rgba(196,51,0,.25);
	
	text-align:center;
	font-size: 12px;
	color:white;
	
	border-radius:2px;
	-moz-border-radius: 2px;
	-webkit-border-radius:2px;
	
	background-image: -moz-linear-gradient(top, #ffbc00, #ff8c00);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffbc00), to(#ff8c00));
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffbc00, endColorstr=#ff8c00);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffbc00,endColorstr=#ff8c00)";
}


.todayHot a:hover .qg_btn {
	background-image: -moz-linear-gradient(top, #ff8400, #ff4800);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8400), to(#ff4800));
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff8400, endColorstr=#ff4800);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff8400,endColorstr=#ff4800)";
}








/*列表*/

.th_list {
	padding:20px 0 20px 20px;
	border:1px solid #eeeeee;
	margin:0 auto 20px auto;
	overflow:hidden;
	width:1160px;
	font-family:microsoft yahei;
}
.th_list img {
	width:225px;
	height:177px;
}
.th_list dl {
	float:left;
	margin:0; padding:0;
	border-right:1px solid #eeeeee;
}
.th_list dt {
	float:left;
	margin-right:20px;
	width:225px;
	height:162px;
	overflow:hidden;
}
.th_list dt img {width:225px; height:162px;}


.th_list dd {
	width:620px;
	float:left;
	margin:0;
	padding-right:20px;
}

.th_list dd p {margin:0; padding:0;}

.th_list dd .p1 {
	line-height:50px;
	font-size:18px;
}

.th_list dd .p1 a {
	font-weight:bold;
	color:#333;
	text-decoration:none;
}

.th_list dd .s1 {
	background: #f30;
	width: 60px;
	height: 20px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	font-size: 12px;
	margin-right:10px;
	display: inline-block;
	border-radius: 3px;
	vertical-align: middle;
}
.th_list dd .p2 {
	color:#999;
	line-height:40px;
	margin-bottom:5px;
	font-size:12px;
}
.th_list dd .p3 {
	color:#666;
	line-height:22px;
	font-size:12px;
}


.th_list ul {
	width:270px;
	float:right;
	text-align:center;
	list-style:none;
	margin:0; padding:0;
}
.th_list ul li {
	padding-top:38px;
	color:#666666;
	list-style:none;
	font-size:12px;
}
.th_list ul li a {
	width:138px;
	font-size:16px;
	line-height:35px;
	color:#fff;
	background:#ff9900;
	border-radius:3px;
	display:inline-block;
	text-decoration:none;
}
.th_list ul li a:hover {
	background:#ff8800;
}
.th_list ul li .s4 {
	font-size:24px;
	color:#f30;
	font-family:arial;
	font-weight:bold;
}
.th_list ul li .s5 {
	display: block;
	margin-top:20px;
}



/*相似关键词*/
            .need_keyword {
                width:1180px;
                margin:0 auto 30px auto;
            }
                .need_keyword dl {
                    height: 18px;
                    line-height:18px;
                    overflow: hidden;
                    padding: 12px 19px;
                    color: #9a9a9a;
                    border: 1px solid #e8e8e8;
                }
                .need_keyword dt {
                    float: left;
                    color: #9a9a9a;
                    white-space: nowrap;
                }
                .need_keyword dd {
                    height: 18px;
                    overflow: hidden;
                }
                .need_keyword a {
                    float: left;
                    color: #6c6c6c;
                    margin-left: 20px;
                    white-space: nowrap;
                }