* {margin:0; padding:0;}
em {font-style:normal;}
img {border:none;}
li,ul {list-style:none;}
a {text-decoration:none;}
.clear{ clear:both;}



.free_main {width:1180px; margin:auto;padding-bottom:30px;}
.free_box {border:1px solid #d9d9d9;border-bottom:none;}


/**-----路径-----**/
.dtl_path {line-height:42px;color:#666;font-size:12px;}
.dtl_path span {font-family:"宋体";padding:5px;color:#999;}
.dtl_path a {color:#2d64b3;}




/*分类开始*/
.category_v2{ border:1px solid #dddddd; background:#fff; margin-top:20px; font-family:microsoft yahei;}            
.category_v2 .cat_main{ width:121px; float:left; text-align:center;}
.category_v2 .cat_main .s1{ border-bottom:2px solid #ced2d5; display:block;}
.category_v2 .cat_main a{ display:block; color:#13a5f0; font-size:18px; height:50px; line-height:50px; font-weight:bold;}
.category_v2 .cat_main a.no{color:#333333; background:#eaeff2; border-right:1px solid #ddd;border-top:1px solid #ddd; font-weight: normal;}
.category_v2 ul{ padding-left:8px;float:left; width:1039px; text-align:center;}
.category_v2 dl{ padding-left:8px;float:left; width:1039px;  font-size:14px; line-height:40px; display:none; height:73px;}
.category_v2 .ul_01{padding-left:15px;font-size:16px; padding-top:10px;}
.category_v2 .ul_01 .now{ background:#13a5f0;color:#fff; border-radius:5px;}
.category_v2 .ul_02{font-size:14px; display:none; border-bottom:1px solid #f0f0f0; margin-bottom:8px; width:1040px; padding:8px 0 5px 15px;}
.category_v2 .ul_02 a{ color:#13a5f0;}
.category_v2 li{float:left;}
.category_v2 li a{color:#6e6e6e; padding:0 18px; margin:5px 0; height:30px; line-height:30px; display:inline-block; white-space:nowrap; font-size:14px;}
.category_v2 .ul_01 a:hover{ color:#13a5f0; background:#f5f5f5; border-radius:5px;}
.clicked_ul01a{border-radius:5px;}
.clicked_ul02a{border-radius:5px;}
.light{background-color:#EEEDED; cursor:pointer;}
.displayNone{display: none;}
/*
   
.category_v2 .ul_02 a{ height:32px; line-height:32px; padding:0 13px; margin:10px 13px 10px 15px;}
     */
.category_v2 .ul_02 .now{ background:#13a5f0;color:#fff; border-radius:5px;}
.category_v2 dd{float:left; line-height:32px;}
.category_v2 dd a{ color:#6e6e6e; padding:2px 11px; margin:0 5px; white-space:nowrap}
.category_v2 dd a:hover{color:#13a5f0;}
.category_v2 .ul_03 .now{ background:#fff;color:#288ce6; border:#cfe6fb solid 1px;border-radius :2px;}


/*.category_v2 dl#dl_01 {padding-bottom:10px;}
.category_v2 dl#dl_03 {padding-bottom:10px;}*/
/*分类结束*/
/*排序开始*/
.orderby{ border:1px solid #ddd; font-size:14px; display:block; background:#f7f7f7; margin-top:25px;}
.orderby dd{ float:left; height:40px; width:100px; text-align:center; line-height:40px;color:#6e6e6e; display:block;margin-left:-1px; _display:inline; cursor:pointer; font-family:microsoft yahei;}
.orderby dd.now{color:#13a5f0; background:#fff; border:1px solid #ddd; border-top:none; border-bottom:none;}
.orderby dd:hover{color:#13a5f0;}
.orderby dd img{ vertical-align:middle; margin-top:-3px; margin-left:8px; }
.orderby dd.img{_padding-top:14px; _height:30px;}
/*排序结束*/
/*----------------分页-----------------*/

/**-----
	阴影
-----**/
.shadow {
	height:7px;
	font-size:0;
	background:url(../images/shadow_bg.png) no-repeat;
	clear:both;
	width:100%;
}




/**-----
	视频列表
-----**/

.todayHot {
	width:1180px;
	overflow:hidden;
	font-family:Arial,\5b8b\4f53;
}
.todayHot ul {
	list-style: none;
	margin:0;
	padding:0; padding-top:10px;
	overflow:hidden;
	width:1190px;
	margin-right:-10px;
	position:relative;
 	*zoom:1;
}

.todayHot li {
	float: left;
	width: 287px;
	border:1px solid #e2e2e2;
	margin:0px 8px 10px 0px;
	background-color:white;
	position:relative;
}
.todayHot a {
	overflow:hidden;
	cursor:pointer;
	width:241px;
	overflow:hidden;
	position: relative;
    display:block;
    width:100%;
	text-decoration: none;
}
.todayHot li:hover {
/*background-color:#D51938;*/
	-webkit-box-shadow: 0 1px 8px rgba(0,0,0,.3);
	box-shadow: 0 1px 8px rgba(0,0,0,.3);
}
.todayHot img {
	width:275px;
	height:217px;
	margin:6px 6px 20px 6px;
}
.todayHot a:hover .today_tit {
	/*color:#09f;*/
}

.todayHot .today_tit {
	overflow: hidden;
	display:block;
	height: 20px;
	font-size:14px;
	color:#555;
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	width:275px; margin:auto;
}

.glist .qg_teach {
	font-size:12px;
	display:block;
	margin:5px 0px 15px 6px;
	color:#666;
}

.glist .price {
    bottom: 10px;
    color: #FF7700;
    font-family: microsoft yahei;
    font-size: 14px;
    position: absolute;
    right:10px;
}

.todayHot li .today_btm {
	display:block;
	padding:12px 0px 15px;
	margin-top: 3px;
	border-top:1px dotted #ccc;
	width:229px; margin:auto;
}


.todayHot li .today_btm .qg_btn {
	display:block;
	width:95px; margin:auto;
	height:28px; line-height: 28px;
	text-shadow:1px 1px 0px rgba(196,51,0,.25);
	
	text-align:center;
	font-size: 12px;
	color:white;
	
	border-radius:2px;
	-moz-border-radius: 2px;
	-webkit-border-radius:2px;
	
	background-image: -moz-linear-gradient(top, #ffbc00, #ff8c00);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffbc00), to(#ff8c00));
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffbc00, endColorstr=#ff8c00);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffbc00,endColorstr=#ff8c00)";
}


.todayHot a:hover .qg_btn {
	background-image: -moz-linear-gradient(top, #ff8400, #ff4800);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8400), to(#ff4800));
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff8400, endColorstr=#ff4800);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff8400,endColorstr=#ff4800)";
}



/**-----
	标题
-----**/
.free_subtitle {
	font-family:microsoft yahei;
	font-weight:normal;
	color:#555;
	font-size:24px;
	line-height:26px;
	margin-top:30px;
}
.free_subtitle span {
	float:left;
	width:5px; height:22px;
    line-height:22px;
    overflow:hidden;
	background:#59a91e;
	margin:3px 8px 0px 0px;
    *margin-top:5px;
    _margin-top:0;
    vertical-align:middle;

}




/*购物车浮动图标*/

    .car_ioc {
        position: fixed;
        _position: absolute;
        right: 50%;
        margin-right: -570px;
        bottom: 25px;
        z-index: 10;
    }

        .car_ioc a {
            display: inline-block;
            width: 49px;
            height: 49px;
            background: url(../images/car_ioc01.png) no-repeat;
            _background: transparent;
            _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/car_ioc01.png',sizingMethod='scale');
        }

            .car_ioc a:hover {
                background: url(../images/car_ioc02.png) no-repeat;
                _background: transparent;
                _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/car_ioc02.png',sizingMethod='scale');
            }




.course_main_title {
    float:left;
    margin-top:27px;
}
.course_main_title h1 {
    float:left;
    color:#555555;
    font-size:22px;
}
    .course_main_title h2 {
        font-size:12px;
        color:#999999;
        float:left;
        margin-top:10px;
        margin-left:12px;
    }


.down_list {
    font-size:14px;
    border:1px solid #dddddd;
    margin-top:13px;
    padding:10px 0;
    position:relative;
    overflow:hidden;
}
    .down_list .line {
        position:absolute;
        left:50%;
        height:100%;
        _height:0;
        width:1px;
        background:#ddd;
        margin-left:-1px;
        top:0;
    }

    .down_list li {
        float: left;
        width:571px;
        padding-left:18px;
        height:30px;
        line-height:30px;

    }
        .down_list li a {
            float:left;
            color:#333333;
        }
            .down_list li a:hover {
                color:#288ce6;
            }
        .down_list li .s1 {
            float:right;
            color:#999999;
            margin-right:14px;
        }





        /*系统班图标*/
.todayHot img.class_small {
    left:85px !important;
}
