.x-login-close {
	color: #189F92;
}

.site-banner {
	background-color: #189F92;
}

.site-h1 {
	color: #189F92;
}

.alone li {
	background-color: #189F92;
}

.layui-bg-black {
	background-color: #189F92;

}
.layui-layedit-tool .layui-icon:hover {
	color: #189F92
}

.layui-nav {
	background-color: #189F92;
}

.layui-layout-admin .header {
	background-color: #189F92;
}