<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>学习者用户-查看</title>
        <meta name="renderer" content="webkit"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="format-detection" content="telephone=no"/>
        <link rel="stylesheet" href="/css/x-admin.css" th:href="@{/css/x-admin.css}" media="all"/>
    </head>

    <body>
    <div class="x-body">
        <input type="hidden" id="username" th:value="${username}"/>
        <form class="layui-form" th:action="@{/adminChangePwd/}+${username}" method="post" id="myForm">
            <div class="layui-form-item">
                <label for="oldPassword" class="layui-form-label"><span class="x-red">*</span>旧密码</label>
                <div class="layui-input-block">
                    <input type="password" id="oldPassword" name="oldPassword" th:required="true" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="newPassword" class="layui-form-label"><span class="x-red">*</span>新密码</label>
                <div class="layui-input-block">
                    <input type="password" id="newPassword" name="newPassword" th:required="true" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="confrimPassword" class="layui-form-label"><span class="x-red">*</span>确认密码</label>
                <div class="layui-input-block">
                    <input type="password" id="confrimPassword" name="confrimPassword" th:required="true" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="edit" type="submit" onclick="tijiao()">确认</button>
                <!--<button class="layui-btn" lay-filter="back" onclick="javascript:history.back(-1);">返回</button>-->
            </div>
        </form>
    </div>

    <script src="/lib/layui/layui.js" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script src="/js/x-layui.js" th:src="@{/js/x-layui.js}"></script>
    <script>
        layui.use(['form', 'layer', 'upload'], function () {
            $ = layui.jquery;
            var form = layui.form()
                , layer = layui.layer;
        });
        //        layer.alert("旧密码不能为空！", {icon: 6}, function () {
        //                });
        function tijiao() {
            var oldPassword = $("#oldPassword").val();
            var newPassword = $("#newPassword").val();
            var confrimPassword = $("#confrimPassword").val();
            if (oldPassword == '' || newPassword == '' || confrimPassword == '') {
                return false;
            }
            if (newPassword != confrimPassword) {
//                layer.alert("两次密码不一致！", {icon: 6}, function () {
//                });
                alert("两次密码不一致！")
                parent.window.location.reload();
                var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                parent.layer.close(index);//关闭窗口
                return false;
            }

            var username = $("#username").val();
            $.ajax({
                type: 'GET',
                url: "/ajaxCheckPassword/" + username+"/"+oldPassword,
                success: function (data) {
                    if(!data){
                        alert("旧密码有误！");
                    }else{
                        alert('密码修改成功');
                        console.log("旧密码正确");
                    }
                }
            })

            parent.window.location.reload();
            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            parent.layer.close(index);//关闭窗口
        }
    </script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    </body>

</html>