<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xzc.mapper.AdminInforMapper">
    <!--根据ID查找管理员-->
    <select id="selectAdminById" parameterType="int" resultType="com.xzc.model.Admin">
        select a.adminId, a.userId,u.userName,u.`passWord`, u.role,u.realName,u.gender, u.address,u.imageUrl,u.description,u.skinColor
        from t_admin a, t_user u where a.userId = u.userId and a.userId = #{userId,jdbcType=INTEGER}
    </select>

    <!--修改管理员信息-->
    <update id="updateAdminByUser" parameterType="com.xzc.model.User">
        update t_user
        set realName = #{realName,jdbcType=VARCHAR},address = #{address,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR},imageUrl = #{imageUrl,jdbcType=VARCHAR},
        gender = #{gender,jdbcType=VARCHAR}
        where userId = #{userId,jdbcType=INTEGER}
    </update>
</mapper>