<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xzc.mapper.CourseKpMapper">

    <resultMap id="KPAndRecourse" type="com.xzc.model.CourseKp">
        <id property="courseKPId" column="courseKPId" javaType="java.lang.Integer"/>
        <result property="courseUnitId" column="courseUnitId" javaType="java.lang.Integer"/>
        <result property="courseKPName" column="courseKPName" javaType="java.lang.String"/>

        <collection property="resourceList" column="courseKPId" select="com.xzc.mapper.ResourceMapper.getResourceByCourseKPId">

        </collection>
    </resultMap>

    <select id="getCourseKpsByCourseUnitId" resultType="com.xzc.model.CourseKp">
        select * from t_coursekp where courseUnitId = #{courseUnitId}
    </select>

    <select id="getCourseKPByCourseUnitId" resultType="com.xzc.model.CourseKp">
        select * from t_coursekp where courseUnitId = #{courseUnitId}
    </select>

</mapper>